doctype
html(ng-app="app")
    head
        title Festival du Bacon
        include css
        base(href="/")
    body
        span Salut JE serai tjrs là
        div(ng-view)
        include scripts
