doctype
html(ng-app="app")
    head
        title Festival du Bacon
        include css
        base(href="/")
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

    body(unresolved)
        include header
        div(ng-view)
        include scripts